* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Cara bikin full image background  */
body {
    background-image: url(assets/pexels-francesco-ungaro-2835436\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
  color: #333;
}

/* Cara bikin logo  */
.logo > img {
    height: 60px; /*Atur ukuran sesuai kebutuhan */
    display: block;
}

.logo {
    display: flex; 
    align-items: center; /*biar logonya tengah*/
    text-decoration: none; /*biar ga ad garis bawah*/
}

/* Cara bikin navbar tengah */
nav {
    /* background-color:azure; (opsional) */
    padding: 17px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex: 1;
    gap: 35px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
  color: #fff;
  background-color: #a50000;
  padding: 15px;
  border-radius: 16px;
  transition: all .3s ease-in-out;
}



/* Step bikin logo uniqlo pojok kiri dan navbar bagian pojok kanan 

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex: 1;
    gap: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #fff;
  background-color: #a50000;
  padding: 15px;
  border-radius: 16px;
  transition: all .3s ease-in-out;
}

.logo > img {
    height: 60px; /*Atur ukuran sesuai kebutuhan/
    display: block;
}

.logo {
    display: flex; 
    align-items: center; /*biar logonya tengah*/
    /*text-decoration: none; /*biar ga ad garis bawah/
}

.logo:hover {
    color: #a50000;
}*/
